@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;1,600&display=swap');

html {
  font-size: 16px;
  font-family: 'Prompt', sans-serif;

}


body {
  width: 100%;
  height: 100%;
  background: url("https://townsquare.media/site/1096/files/2018/07/the_matrix_code.jpg?w=980&q=75")
}
h1, p {
  color: #F7F2F7;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(241,231,231,0.6);
}

form {
  background-color: #081C03;
  width: 80%;
  max-width: 500px;
  height: auto;
  margin: 30px auto 20px auto;
  color: white;
  padding: 10px 0;
  box-shadow: 4px 1px 10px 5px rgba(214,227,217,0.5);

}
section {
  margin: 15px;
  padding: 2px;
}
label {
  display: block;
  margin: 3px 0 3px 5%;
}
input {
  margin-right: 10px;
}
.wide {
width: 90%;
height: 35px;
border-radius: 5px;
margin: 2px 5% 20px 5%;

}
fieldset{
  width: 90%;
  margin-left: auto;
  margin-right:auto;
  padding: 0;
}

textarea {
  margin: 5px 5% 0 5%;
  width: 90%;
  
}

button{
  display: block;
  width: 90%;
  height: 50px;
  margin: 20px 5% 0 5%;
  border-radius: 5px;
  font: 25px solid;
  background-color: #DB5509;
}
button:hover {
  cursor: pointer;
  transform: scale(1.05);
}